/* Объявление переменных цветов страницы */
:root {
    --color-blue: #2196F3;
    --color-grey: #757575;
    --color-black: #212121;
    --color-logo: #000;
    --color-white: #fff;
    --background-color-grey: #F5F4FA;
    --footer-color: #2F303A;
    --icon-color: #AFB1B8;

    --margin-gap: 30px;
}

/* Подключение основного и альтернативного шрифтов, цвета текста */
body {
    color: var(--color-grey);
    background-color: var(--color-white);

    font-family: Roboto, sans-serif;
}

/* Переопредиление значений по умолчанию */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}
   

/* Стилизация контейнера */
.conteiner {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* ХЕДЕР */
.header {
    border-bottom: 1px solid #ECECEC;
}

/* Элементы хедера в ряд */
.header .conteiner {
    align-items: center;
    display: flex;
}

/* Стилизация лого */
.header-logo,
.footer-logo {
    color: var(--color-logo);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.web {
    color: var(--color-blue);
}

.header-logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

/* Стилизация навигации*/
.nav-list, 
.contacts-list {
    display: flex;
}

.nav-item:not(:last-child),
.contacts-item:not(:last-child){
    margin-right: 50px;
}

.contacts-list {
    margin-left: auto;
}

.nav-link, 
.contacts-link {
    display: block;

    color: var(--color-black);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    padding: 32px 0;
}

.contacts-link {
    color: var(--color-grey);
    display: flex;
    align-items: center;
}

.icon-envelope,
.icon-smartphone {
    margin-right: 10px;
    fill: var(--color-grey);
}

/* Ховер и фокус на ссылки хедера и футера */
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.address-link:hover,
.address-link:focus {
    color: var(--color-blue);
}

.contacts-link:hover .icon-envelope,
.contacts-link:hover .icon-smartphone, 
.contacts-link:focus .icon-envelope,
.contacts-link:focus .icon-smartphone {
    fill: var(--color-blue);
}

/* СТУДИЯ */

/* ------Герой------ */
.hero {
    background-color: var(--footer-color);
    background-image: linear-gradient(to right, 
rgba(47, 48, 58, 0.4), 
rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px 0;
    max-width: 1600px;
    margin: 0 auto;
}

.hero .conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    color: var(--color-white);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    width: 696px;
    margin-bottom: 30px;
}

.hero-button{
    background-color: var(--color-blue);
    color: var(--color-white);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}

/* ------Преимущества------ */
.section {
    padding: 94px 0;
}

.benefits-thumb {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:var(--background-color-grey);
    width: 270px;
    height: 120px;
    margin-bottom: var(--margin-gap);
    border-radius: 4px;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
}

.benefits-item {
    flex-basis: calc((100% - 3 * var(--margin-gap)) / 4);
}

.benefits-item:not(:last-child) {
    margin-right: var(--margin-gap);
}

.benefits-title {
    color: var(--color-black);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.benefits-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.benefits.section {
    padding-bottom: 0;
}

/* ------Чем мы занимаемся------ */
.work .conteiner {
    flex-direction: column;
    align-items: center;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
}

.work-item:not(:last-child) {
    margin-right: var(--margin-gap);
}

.work-title,
.team-title, 
.clients-title {
    color: var(--color-black);

    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

.work-img {
    display: block;
    height: auto;
    flex-basis: calc((100% - 2 * var(--margin-gap)) / 3);
}


/* ------Наша команда------ */
.team {
    background-color:var(--background-color-grey);
}

.team-list {
    display: flex;
    flex-wrap: wrap;
}

.team-item {
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    flex-basis: calc((100% - 3 * var(--margin-gap)) / 4);

    border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
    margin-right: var(--margin-gap);
}

.team-content {
    padding: var(--margin-gap) 0;
}

.team-member, 
.team-text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}

.team-member {
    color: var(--color-black);

    font-weight: 500;

    margin-bottom: 10px;
}

.team-text {
    margin-bottom: 16px;
}

.member-list {
    display: flex;
    justify-content: center;
}

.member-item:not(:last-child) {
    margin-right: 10px;
}

.member-item {
    width: 44px;
    height: 44px;
}

.member-link {
    width: 100%;
    height: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: var(--icon-color);
}

.member-link:hover, 
.member-link:focus {
    background-color: var(--color-blue);
    fill: var(--color-white);

}

/* Постоянные клиенты */
.clients-list {
    display: flex;
}

.clients-item {
    flex-basis: calc((100% - 5 * var(--margin-gap)) / 6);
    height: 92px; 
}

.clients-item:not(:last-child) {
    margin-right: var(--margin-gap);
}

.clients-link {
    fill: var(--icon-color);
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    width: 100%;
    height: 100%;
    
    display: flex;  
    justify-content: center;
    align-items: center;
}

.clients-link:hover,
.clients-link:focus {
    border-color: var(--color-blue);
    fill: var(--color-blue);
}

/* ФУТЕР */
.footer {
    background-color: var(--footer-color);
    padding: 60px 0;
}

.footer .conteiner {
    display: flex;
    align-items: baseline;
}

.footer-address {
    margin-right: 70px;
}

.footer-logo {
    color: var(--color-white);
    display: block;
    margin-bottom: 20px;
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-link {
    color: var(--color-white);

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Прозрачность элементов футера */
.transparent { 
    color: rgba(255, 255, 255, 0.6);
}

.footer-title {
    color: var(--color-white);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-list {
    display: flex;
}

.footer-item {
    width: 44px;
    height: 44px;    
}

.footer-item:not(:last-child) {
    margin-right: 10px;
}

.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    fill: var(--color-white);
}

.footer-link:hover, 
.footer-link:focus {
    background-color: var(--color-blue);
}

/* ПОРТФОЛИО */

/* ------Список фильтров------ */
.filter-list {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.filter-item:not(:last-child) {
    margin-right: 8px;
}

.filter-button {
    background-color: var(--background-color-grey);
    color: var(--color-black);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--color-blue);
    color: var(--color-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ------Контент фильтра------ */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * var(--margin-gap));
    margin-bottom: calc(-1 * var(--margin-gap));
}

.portfolio-item {
    margin-right: var(--margin-gap);
    margin-bottom: var(--margin-gap);
    flex-basis: calc(100% / 3 - var(--margin-gap));
}

.portfolio-link {
    display: block;
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-content {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.portfolio-title {
    color: var(--color-black);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}

.portfolio-text {
    color: var(--color-grey);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

}
