/* Стилизация контейнера */
.conteiner {
    padding: 0 15px;
    margin: 0 auto;
    
    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.header .conteiner {
    display: flex;
    align-items: center;
}

.hero .conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-around;
    }
}